<p id="notice"><%= notice %></p>

<h1>Listing Yonkomas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yonkomas.each do |yonkoma| %>
      <tr>
        <td><%= link_to 'Show', yonkoma %></td>
        <td><%= link_to 'Edit', edit_yonkoma_path(yonkoma) %></td>
        <td><%= link_to 'Destroy', yonkoma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yonkoma', new_yonkoma_path %>
