<p id="notice"><%= notice %></p>

<% content_for :stylesheet do %>
  <!-- Load Roboto font -->
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/show.css" />
<% end %>
<% content_for :javascript do %>
  <!-- Include javascript -->
  <script src="/javascripts/show.js"></script>
<% end %>

 <div id="yonkoma">
  <p id="title"><%= @title %></p>
  <% @yonkomas.each do |yonkoma| %>
    <%= content_tag(:div, class: "koma", 'data-toggle':"popover", title:"転載元リンク", 'data-content':"<a href="+ koma["img"]["link"] +">"+ "ニコニコ静画" + "</a>" ) do %>
    <%= content_tag(:span, yonkoma["srf"]["str"], id:"serihu", style: yonkoma["srf"]["position"]) %>
    <%= image_tag(yonkoma["img"]["url"], size: yonkoma["img"]["size"],id:"gazou",  style: yonkoma["img"]["position"], :alt => "イラスト画像") %>
    <%= image_tag("hukidashi.png", id:"hukidashi",size: yonkoma["hukidashi"]["size"],  style: yonkoma["hukidashi"]["position"],:alt => "吹き出しの画像") %>
  <% end %>
  <div id="last"></div>

</div>
