<p id="notice"><%= notice %></p>
<div id="yonkoma">
  <p id="title"><%= "@title" %></p>
  <div class="koma" data-toggle="popover" title="転載元"
  data-content="<a href=\'http://localhost:3000\'>作者の名前</a>">
    <% pos = "position:relative;top:" + "@y" + ";right:" + "@x" + ";" %>
    <%= image_tag("sample_dog.jpg", size: "@size",  style: "pos",:alt => "アイコン") %>
  </div>
  <div class="koma" data-toggle="popover" title="転載元"
  data-content="<a href=\'http://localhost:3000\'>作者の名前</a>">
    <% pos = "position:relative;top:" + "@y" + ";right:" + "@x" + ";" %>
    <%= image_tag("sample_dog.jpg", size: "@size",  style: pos,:alt => "アイコン") %>
  </div>
  <div class="koma" data-toggle="popover" title="転載元"
  data-content="<a href=\'http://localhost:3000\'>作者の名前</a>">
    <% pos = "position:relative;top:" + "@y" + ";right:" + "@x" + ";" %>
    <%= image_tag("sample_dog.jpg", size: "@size",  style: pos,:alt => "アイコン") %>
  </div>
  <div class="koma" id="tag" data-toggle="popover" title="転載元"
  data-content="<a href=\'http://localhost:3000\'>作者の名前</a>">
    <% pos = "position:relative;top:" + "@y" + ";right:" + "@x" + ";" %>
    <%= image_tag("sample_dog.jpg", size: "@size",  style: pos,:alt => "アイコン") %>
  </div>
</div>
